# eclipse
.settings/*
.project
.classpath
won-payment-core/.settings/*
won-payment-core/.project
won-payment-core/.classpath
won-paypal-bot/.settings/*
won-paypal-bot/.project
won-paypal-bot/.classpath

# maven
conf.*
target/*
won-payment-core/target/*
won-paypal-bot/target/*
conf.local/bot.properties
